@import "_vars";
@import "_global";
@import "_fonts";

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
    & + & {
        padding-left: 50px;
    }
}

.header__box {
    display: flex;
}

.header__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/adress-icon.svg);
        width: 30px;
        height: 30px;
        left: 0;
        top: -10px;
    }
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item {
    padding-right: 10px;
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    font-family: "SFProDisplay-Madium", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #1c62cd;
    border-radius: 50%;
    text-align: center;
    bottom: -15px;
    right: -14px;
}

.header__bottom {
    margin-bottom: 80px;
}

.menu-categories {
    background-color: #f0f0f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
}

.menu-categories__link {
    padding: 15px 0px 14px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        right: 0;
        left: auto;
        bottom: -2px;
        background-color: #1c62cd;
        transition: all 0.3s;
    }
    &:hover::before {
        width: 100%;
        left: 0;
        right: auto;
    }
    &:hover {
        color: #000;
    }
}

// end header

// start banner-section

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
    .banner-section__slider-item {
        outline: none;
    }
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.banner-section__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 2;
    &.banner-section__slider-btnprev {
        left: 20px;
    }
    &.banner-section__slider-btnnext {
        right: 20px;
    }
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    li {
        display: inline-block;
        padding: 0 5px;
    }
    button {
        padding: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        outline: none;
        background-color: transparent;
    }
    .slick-active button {
        background-color: #fff;
    }
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #fff;
    background-color: #1c62cd;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price {
    text-align: right;
}

.price {
    font-family: "Barlow", sans-serif;
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1c62cd;
    margin-right: 6px;
    padding-right: 20px;
    &::after {
        content: "";
        background-image: url(../images/icon-price.svg);
        position: absolute;
        right: 0;
        top: 8px;
        width: 15px;
        height: 18px;
    }
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 15px;
    background-image: url(../images/old-line.svg);
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;
    &::after {
        content: "";
        background-image: url(../images/icon-price-old.svg);
        position: absolute;
        right: -10px;
        top: 8px;
        width: 8px;
        height: 10px;
    }
}

.sale-item__footer {
    background: #f0f0f4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
    span {
        font-weight: 700;
        color: #1c62cd;
        display: block;
        font-family: "Barlow", sans-serif;
    }
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
}

.sale-item__img {
    object-fit: contain;
}

// end banner-section
// start search section

.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
}

.search__tabs-item--active {
    background: #f0f0f4;
    border-radius: 5px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
}

.search__content-item {
    display: none;
}

.search__content-item--active {
    display: block;
}

.search__content-form {
    display: flex;
}

.search__content-input {
    background: #f0f0f4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    outline: none;
    &::placeholder {
        color: #656464;
    }
}

.search__content-btn {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    background: #1c62cd;
    border-radius: 3px;
    padding: 17px 41px;
    margin-left: -3px;
    border: none;
}

// end search section

@import "_media";
