@import "_vars";
@import "_global";
@import "_fonts";

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
}

.menu__btn {
    display: none;
    &:hover {
        .menu__btn-line {
            transition: all 0.3s;
            background: $blue;
        }
    }
}

.menu__btn-line {
    height: 3px;
    border-radius: 3px;
    background: $text;
    width: 34px;
    & + & {
        margin-top: 9px;
    }
}

.menu__item {
    display: inline-block;
    & + & {
        padding-left: 50px;
    }
}

.menu__link:hover {
    color: $blue;
    transition: all 0.3s;
}

.header__box {
    display: flex;
}

.header__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/adress-icon.svg);
        width: 30px;
        height: 30px;
        left: -3px;
        top: -5px;
    }
}

.menu-mobile__list {
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.3s;
    position: absolute;
    z-index: 13;
}

.menu-mobile__list--active {
    transform: translateX(0%);
}

.menu-mobile__item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.menu-mobile__link {
    display: block;
    padding-left: 53px;
    padding-top: 36px;
    transition: all 0.3s;
    &:hover {
        color: $blue;
    }
}

.menu-mobile__img {
    position: absolute;
    left: 11px;
    bottom: 10px;
}

.menu__mobile-linewrapper {
    display: none;
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item {
    padding-right: 10px;
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    font-family: "SFProDisplay-Madium", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: $blue;
    border-radius: 50%;
    text-align: center;
    bottom: -2px;
    right: -13px;
}

.header__bottom {
    margin-bottom: 80px;
}

.menu-categories {
    background-color: $grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
}

.menu-categories__link {
    padding: 15px 0px 14px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        right: 0;
        left: auto;
        bottom: -2px;
        background-color: $blue;
        transition: all 0.3s;
    }
    &:hover::before {
        width: 100%;
        left: 0;
        right: auto;
    }
    &:hover {
        color: #000;
    }
}

// end header
// start breadcrumbs

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        background-image: url(../images/link-arrow.svg);
        height: 9px;
        width: 6px;
        bottom: 5px;
    }
    &:last-child::after {
        display: none;
    }
}

// end breadcrumbs

// start main page
// start banner-section

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
    .banner-section__slider-item {
        outline: none;
    }
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 2;
    &.banner-section__slider-btnprev {
        left: 20px;
    }
    &.banner-section__slider-btnnext {
        right: 20px;
    }
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    li {
        display: inline-block;
        padding: 0 5px;
    }
    button {
        padding: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        outline: none;
        background-color: transparent;
    }
    .slick-active button {
        background-color: #fff;
    }
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #fff;
    background-color: $blue;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price {
    text-align: right;
}

.price {
    font-family: "Barlow", sans-serif;
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: $blue;
    margin-right: 6px;
    padding-right: 20px;
    &::after {
        content: "";
        background-image: url(../images/icon-price.svg);
        position: absolute;
        right: 0;
        top: 8px;
        width: 15px;
        height: 18px;
    }
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 15px;
    background-image: url(../images/old-line.svg);
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;
    &::after {
        content: "";
        background-image: url(../images/icon-price-old.svg);
        position: absolute;
        right: -10px;
        top: 8px;
        width: 8px;
        height: 10px;
    }
}

.sale-item__footer {
    background: $grey;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
    span {
        font-weight: 700;
        color: $blue;
        display: block;
        font-family: "Barlow", sans-serif;
    }
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
}

.sale-item__img {
    object-fit: contain;
}

// end banner-section
// start search section

.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
    &.tab--active {
        background: $grey;
        border-radius: 5px;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
    }
}

.tabs-content {
    display: none;
    &.tabs-content--active {
        display: block;
    }
}

.search__content-form {
    display: flex;
}

.search__content-input {
    background: $grey;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    outline: none;
    &::placeholder {
        color: #656464;
    }
}

.search__content-btn {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    background: $blue;
    border-radius: 3px;
    padding: 17px 41px;
    margin-left: -3px;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
    &:active {
        opacity: 1;
    }
}

// end search section
// start categories

.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px;
    transition: all 0.3s;
    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        .categories__item-title {
            color: $blue;
        }
    }
}

.categories__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-img {
    text-align: center;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.categories__item-title {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    transition: all 0.3s;
}

.categories__item-text {
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    &::after {
        content: url(../images/link-arrow.svg);
        padding-left: 2px;
    }
}

// end categories
// start products

.products {
    margin-bottom: 50px;
}

.product__title {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.product-item__wrapper {
    position: relative;
    width: 271px;
    margin: 0 auto;
    &.product-item__wrapper--list {
        width: 100%;
    }
    &.product-item__not-available {
        .product-item__price {
            display: none;
        }
        .product-item__notify-text {
            display: block;
        }
        .product-item__basket {
            display: none;
        }
        .product-item__notify-link {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: $blue;
            span {
                border-bottom: 1px solid $blue;
            }
        }
        .product-item__title {
            padding-bottom: 13px;
            min-height: 70px;
        }
    }
}

.product-item {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 20px;
    transition: all 0.3s;
    min-height: 400px;
    width: 100%;
    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        color: $blue;
        .product-item__hover-text {
            opacity: 1;
        }
        .product-item__notify-text {
            color: $text;
        }
    }
}

.product-item__img {
    max-width: 100%;
    margin: 0 auto;
}

.product-item__img-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
}

.product-item__title {
    font-weight: normal;
    padding: 14px 0 25px;
    font-size: 18px;
    line-height: 21px;
    min-height: 80px;
}

.product-item__favorite {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
    &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 22px;
        top: 0;
        left: 0;
        background-image: url(../images/favorite.svg);
    }
}

.product-item__favorite--active::before {
    background-image: url(../images/favorite-active.svg);
}

.product-item__price {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.product-item__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background: $blue;
    border-radius: 10px 0px 0px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    bottom: 0;
    right: 0;
    padding-top: 7px;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
    &:active {
        opacity: 1;
    }
}

.product-item__hover-text {
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 30px;
    right: 30px;
    opacity: 0;
    transition: all 0.3s;
    color: $text;
}

.product-item--sale::before {
    content: "SALE";
    padding: 8px 15px;
    background-color: $blue;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__notify-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.product-item__notify-link {
    display: none;
}

.products__tabs {
    margin-bottom: 25px;
}

.products__tab {
    padding-bottom: 10px;
    & + & {
        margin-left: 50px;
    }
    &.tab--active {
        border-bottom: 2px solid #1c62cd;
    }
    &:hover {
        opacity: 0.7;
    }
}

.product-slider {
    .slick-dots {
        bottom: -30px;
        button {
            background: #c4c4c4;
        }
        .slick-active button {
            background: $blue;
        }
    }
}

.product-slider__slider-btnprev {
    left: -40px;
}

.product-slider__slider-btnnext {
    right: -20px;
}

.slick-slide img {
    display: inline;
}

.product__more {
    text-align: center;
    margin: 35px 0 0;
}

.product__more-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 43px;
    background-color: $grey;
    border-radius: 3px;
    &:hover {
        background-color: #c4c4c4;
        transition: all 0.3s;
    }
    &:active {
        background-color: $grey;
    }
}

// end products
// start banner

.banner {
    margin-bottom: 50px;
}

// end banner
// start footer

.footer {
    background-color: $grey;
}

.footer__top {
    padding-top: 43px;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
}

.footer__top-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer-form__input {
    background-color: #fff;
    color: rgba(47, 48, 53, 0.7);
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    padding: 0 12px;
    &::placeholder {
        color: #c4c4c4;
    }
}

.footer-form__btn {
    text-transform: uppercase;
    padding: 10px 16px;
    background-color: $blue;
    color: #fff;
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
    &:active {
        opacity: 1;
    }
}

.footer__top-item {
    width: 200px;
    &.footer__top-newsletter {
        width: 295px;
        margin-right: 50px;
    }
}

.footer-list {
    font-size: 14px;
    line-height: 22px;
    a:hover {
        opacity: 0.7;
        transition: all 0.3s;
    }
}

.footer__top-social {
    width: 250px;
}

.social-list {
    display: flex;
    align-items: center;
    height: 100%;
    li + li {
        margin-left: 30px;
    }
}

.footer__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
}

.footer__topdrop {
    pointer-events: none;
}

// end footer
// end main page

// start catalog page
// start catalog section

.catalog {
    margin-bottom: 50px;
}

.catalog__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
}

.catalog__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog__filter-items {
    button {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.7;
        background: $grey;
        border-radius: 3px;
        border: none;
        padding: 5px 22px;
        cursor: pointer;
        outline: none;
        transition: all .3s;
        &:hover{
            background: #cacace;
        }
        &:active{
            background: #cacace;
            opacity: 0.8;
        }
    }
    button + button {
        margin-left: 8px;
    }
}

.catalog__filter-btn {
    display: flex;
    align-items: center;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    button + button {
        margin-left: 10px;
    }
}

.select-item {
    border: 1px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
}

.catalog__filter-button {
    opacity: 0.3;
    outline: none;
    &.catalog__filter-button--active {
        opacity: 1;
    }
}

.catalog__filter-btngrid {
    width: 26px;
    height: 21px;
}

.catalog__filter-btnline {
    width: 25px;
    height: 19px;
}

.catalog__inner {
    display: flex;
}

.catalog__inner-aside {
    min-width: 290px;
    margin-right: 10px;
}

.catalog__inner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item__wrapper {
        margin-bottom: 30px;
    }
    .product-item__title {
        min-height: 102px;
    }
}

// end catalog section
// start pagination

.pagination {
    width: 100%;
    margin-top: 50px;
}

.pagination-list {
    display: flex;
    justify-content: center;
}

.pagination-list__item {
    padding: 6px 12px;
    border: 2px solid transparent;
    margin: 0 4px;
    font-size: 18px;
    line-height: 22px;
    color: #c4c4c4;
    &.active {
        border: 2px solid $blue;
        color: $blue;
    }
    a {
        display: block;
    }
}

// end pagination
// start aside-filter

.aside__btn {
    display: none;
    text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
        width: 100%;
        color: #fff;
        background-color: $blue;
        margin-bottom: 30px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
            transition: all 0.3s;
        }
        &:active {
            opacity: 1;
        }     
}

.aside-filter__tabs {
    display: flex;
    justify-content: space-between;
}

.aside-filter__tab {
    font-weight: regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #c4c4c4;
    width: 50%;
    &.tab--active {
        color: $text;
        font-weight: bold;
        font-family: "SFProDisplay-Bold", sans-serif;
        span {
            display: inline-block;
            border-bottom: 2px solid #1c62cd;
            padding-bottom: 7px;
        }
    }
}

.aside-filter__item-drop {
    margin: 40px 0;
}

.aside-filter__item-title {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
}
.filter__item-drop {
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        background-image: url(../images/arrow-down.svg);
        position: absolute;
        left: 0;
        bottom: 5px;
        height: 8px;
        width: 12px;
        transform: rotate(0deg);
    }
}

.filter__item-drop--active::before {
    transform: rotate(180deg);
}

.aside-filter__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    &.aside-filter__content-radio {
        flex-wrap: nowrap;
    }
}

.aside-filter__content-box {
    width: 50%;
    margin-bottom: 10px;
}

.aside-filter__content-label {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.jq-checkbox,
.jq-radio {
    width: 14px;
    height: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    background: #fff;
    box-shadow: none;
    vertical-align: -1px;
    margin: 0 8px 0 0;
    position: relative;
    &.checked {
        background: $blue;
        border: none;
        .jq-checkbox__div {
            width: 8px;
            height: 6px;
            margin: 4px 0 0 3px;
            border-bottom: none;
            border-left: none;
            transform: rotate(0);
            background-image: url(../images/checked-icon.svg);
            position: absolute;
        }
        .jq-radio__div {
            position: absolute;
        }
    }
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.irs--flat {
    width: 100%;
    margin-top: -15px;
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }
    .irs-max,
    .irs-min {
        top: 55px;
        padding: 0;
        font-family: "Barlow", sans-serif;
        color: $text;
        font-size: 14px;
        line-height: 17px;
        text-shadow: none;
        background-color: transparent;
        border-radius: 0;
        text-decoration: underline;
        visibility: visible !important;
        padding-left: 27px;
        &::before {
            position: absolute;
            font-size: 14px;
            line-height: 17px;
            color: #c4c4c4;
            text-decoration: none;
            left: 0;
        }
    }
    .irs-min::before {
        content: "от";
    }
    .irs-max::before {
        content: "до";
    }
    .irs-line {
        height: 1px;
        background-color: #e0e0e0;
        border-radius: 0;
    }
    .irs-bar {
        top: 25px;
        height: 3px;
        background-color: $blue;
    }
    .irs-handle {
        top: 22px;
        width: 8px;
        height: 8px;
        background-color: $blue;
        border-radius: 50%;
        cursor: pointer;
    }
    .irs-handle > i:first-child,
    .irs-handle.state_hover > i:first-child,
    .irs-handle:hover > i:first-child {
        background: transparent;
    }
}

.aside-filter__item-list {
    margin: 46px 0 40px;
}

.filter__item-list {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
}

.filter__item-listtitle {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
}

.filter__item-listselect {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
}

.jq-selectbox__select {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
    height: 20px;
    padding: 0 25px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    &:hover,
    &:active {
        background: transparent;
        box-shadow: none;
    }
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger {
    position: absolute;
    background-image: url(../images/arrow-down.svg);
    bottom: 5px;
    height: 8px;
    width: 12px;
    border-left: none;
    top: 6px;
    right: 9px;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
    border-radius: 0;
    padding-top: 15px;
    top: 32px;
    right: -1px;
}

.filter-more {
    width: 100%;
}

.filter-more__btn {
    font-size: 14px;
    line-height: 17px;
    color: $blue;
    border: none;
    border-bottom: 1px solid $blue;
    background-color: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.filter-search {
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    &::placeholder {
        color: #bdbec2;
    }
}

.btn-checked {
    .aside-filter__content {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .aside-filter__content-box {
        width: auto;
    }
    .aside-filter__content-label {
        position: relative;
        height: 25px;
        width: 63px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: #c4c4c4;
    }
    .jq-checkbox {
        height: 25px;
        width: 63px;
        background: #f0f0f4;
        border: none;
        &.checked {
            background: $blue;
            ~ .btn-checked__text {
                color: #fff;
            }
            .jq-checkbox__div {
                display: none;
            }
        }
    }
}

.btn-checked__text {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;
}

.filter-btn__send {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #bdbec2;
    background: #f0f0f4;
    padding: 16px 85px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;
    &.filter-btn__send--active {
        background-color: $blue;
        color: #fff;
    }
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
    &:active {
        opacity: 1;
    }    
}

.aside-filter__item-btn {
    text-align: center;
    .filter__extra{
        display: block;
        width: 210px;
        margin: 0 auto;
    }
}

.filter__extra {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        background-image: url(../images/arrow-down.svg);
        width: 12px;
        height: 8px;
    }
    &.filter__item-drop--active::after {
        transform: rotate(180deg);
    }
}
.filter__extra-content {
    display: none;
}

.filter-btn__reset {
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    color: #c4c4c4;
    padding: 0;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

// end aside-filter
// end catalog page

// start product-page
// start product-card

.product-card {
    margin-bottom: 80px;
}

.product-card__inner {
    display: flex;
    justify-content: space-between;
}

.product-card__img-box {
    font-family: "Barlow", sans-serif;
    width: 500px;
    padding-top: 64px;
    text-align: center;
    position: relative;
    &::before {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        padding: 13px 25px;
        border-radius: 3px;
    }
}

.product-card__price-old {
    font-size: 30px;
    line-height: 44px;
    opacity: 0.6;
    background-image: url(../images/old-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.product-card__price-new {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
}

.product-card__link {
    font-size: 15px;
    line-height: 18px;
    color: $blue;
    border-bottom: 1px solid $blue;
}

.product-card__content {
    width: 570px;
}

.product-card__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}

.product-card__code {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.6;
    margin-bottom: 22px;
}

.product-card__buttons {
    margin-bottom: 50px;
}

.jq-ry-container[readonly="readonly"] {
    cursor: pointer;
}

.product-card__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;
    & + & {
        padding-left: 17px;
    }
    &.tab--active {
        opacity: 1;
        border-bottom: 2px solid $blue;
        font-weight: bold;
        font-family: "SFProDisplay-Bold", sans-serif;
    }
}

.product-card__item {
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
}

.product-card__item-left {
    padding-right: 15px;
}

.product-card__item-right {
    width: 125px;
}

.product-card__list {
    margin-bottom: 20px;
}

.product-card__more {
    font-size: 14px;
    line-height: 17px;
    color: $blue;
    border-bottom: 1px solid $blue;
    margin-bottom: 40px;
}

.product-card__btn button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 56px;
    background: $blue;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
    &:active {
        opacity: 1;
    }
}

.product-card__buttons a + a {
    margin-left: 30px;
}

.product-card__btn-mobile {
    display: none;
}

// end product-card
// start card__tabs

.card__tabs {
    margin-bottom: 50px;
}

.card__tab-box {
    background: $grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    margin-bottom: 50px;
}

.card__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    &.tab--active {
        border-bottom: 2px solid $blue;
        opacity: 1;
    }
    &:hover {
        opacity: 0.8;
    }
}

.card__top-line {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card__label-search-form {
    max-width: 395px;
    width: 100%;
    position: relative;
    margin-right: 100px;
    button {
        position: absolute;
        padding: 0;
        right: 15px;
        top: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        height: 17px;
        width: 17px;
        cursor: pointer;
    }
}

.card__label-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
}

.card__input-search {
    background: $grey;
    border-radius: 3px;
    padding: 9px 37px 9px 17px;
    border: none;
    color: rgba(47, 48, 53, 0.7);
    outline: none;
    width: 100%;
    max-width: 313px;
    margin-left: 17px;
    &::placeholder {
        color: #c4c4c4;
        font-size: 17px;
        line-height: 20px;
    }
}

.card__input-pickup {
    margin-left: 45px;
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
    cursor: pointer;
}

.card__tabs-container {
    padding-left: 38px;
}

.card__list-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, 0.7);
}

.card__list-itemtitle {
    font-size: 20px;
    line-height: 24px;
    color: $text;
}

.card__list-addess {
    width: 220px;
    margin-right: 80px;
}

.card__list-workhours {
    width: 157px;
    margin-right: 96px;
}

.workhours {
    display: flex;
    justify-content: space-between;
}

.card__list-available {
    width: 140px;
    margin-right: 60px;
}

.card__list-num {
    width: 104px;
}

.card__list-btn {
    margin-left: auto;
    button {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.12em;
        color: #ffffff;
        text-transform: uppercase;
        padding: 9px 40px;
        background: $blue;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
            opacity: 0.8;
            transition: all 0.3s;
        }
        &:active {
            opacity: 1;
        }
    }
}

// end card__tabs
// end product-page

@import "_media";